<div class="login__card">
  <form class="card__form">
    <div class="form__input">
      <label for="email" #email_label>E-Mail</label>
      <input
        type="text"
        #email
        id="email"
        (blur)="handleInputBlur($event)"
        value=""
      />
    </div>
    <div class="form__input">
      <label for="password" #password_label>Password</label>
      <input
        type="password"
        id="password"
        #password
        (blur)="handleInputBlur($event)"
      />
    </div>
    <div style="margin-top: 10px;">
      <div class="checkbox">
        <input type="radio" id="forgot_pass" />
        <span class="design"></span>
        <label for="forgot_pass">Remember me</label>
      </div>
    </div>
  </form>
</div>
