.login__card {
  background-color: #fff;
  height: 80vh;
  width: 140vh;
  border-radius: 10px;
  box-shadow: #909090 2px 3px 20px 3px;
}
.card__form {
  background: rgb(132, 34, 236);
  background: linear-gradient(
    137deg,
    rgba(132, 34, 236, 1) 0%,
    rgba(189, 121, 240, 1) 100%
  );
  width: 35%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  width: 80%;
}
.form__input input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 2px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.form__input input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  transform: scale(1.1);
  transition-duration: 300ms;
  caret-color: #fff;
}

.form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.form__input label {
  color: #fff;
  transform: translateY(70%);
  transition-duration: 200ms;
}

.form__input:focus-within label {
  transform: translateY(-20%);
  transition-duration: 300ms;
}

.label_selected {
  transform: translateY(-20%) !important;
}

.checkbox label {
  color: #fff;
  font-size: small;
  cursor: pointer;
}
