.login__card {
  background-color: #fff;
  height: 80vh;
  width: 140vh;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.7) 2px 3px 20px 3px;
}
.card__form {
  background: rgb(132, 34, 236);
  background: linear-gradient(
    137deg,
    rgba(132, 34, 236, 1) 0%,
    rgba(189, 121, 240, 1) 100%
  );
  width: 35%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  width: 80%;
}
.form__input input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 2px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.form__input input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  transform: scale(1.1);
  transition-duration: 300ms;
  caret-color: #fff;
}

.form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.form__input label {
  color: #fff;
  transform: translateY(70%);
  transition-duration: 200ms;
}

.form__input:focus-within label {
  transform: translateY(-20%);
  transition-duration: 300ms;
}

.label_selected {
  transform: translateY(-20%) !important;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  color: #fff;
  font-size: small;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px !important;
  width: 15px !important;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: solid 2px #fff;
  border-radius: 50px;
  padding: 2px;
}

input[type="checkbox"]:checked {
  background-color: #fff;
}

#login_option {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#login_option a {
  text-decoration: none;
  color: #fff;
  font-size: small;
  cursor: pointer;
}
#login_buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

#login_buttons input {
  text-decoration: none;
  padding: 10px 30px;
  color: #fff;
  outline: none;
  border-radius: 50px;
  font-weight: bold;
}

#login_buttons input:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}

#login_buttons input:active {
  transform: scale(0.95);
  transition-duration: 300ms;
}

#sing_in_btn {
  background-color: rgb(132, 34, 236);
  border: 0;
  box-shadow: #000 0 0 5px;
}

#sing_up_btn {
  background-color: transparent;
  border: solid 1px #fff;
  /* box-shadow: #000 0 0 5px; */
}
