<div class="login__card">
  <form class="card__form">
    <div class="form__input">
      <label for="email" #email_label>E-Mail</label>
      <input
        type="text"
        #email
        id="email"
        (blur)="handleInputBlur($event)"
        value=""
      />
    </div>
    <div class="form__input">
      <label for="password" #password_label>Password</label>
      <input
        type="password"
        id="password"
        #password
        (blur)="handleInputBlur($event)"
      />
    </div>
    <div id="login_option">
      <div class="checkbox">
        <input type="checkbox" id="forgot_pass" />
        <label for="forgot_pass">Remember me</label>
      </div>
      <a href="">Forgot passord</a>
    </div>
    <div id="login_buttons">
      <input id="sing_in_btn" type="button" value="Sign in">
      <input id="sing_up_btn" type="button" value="Sign up">
    </div>
  </form>
</div>
